<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Space Pong</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>
<body>
<div>
    <h1>Space Pong</h1>
    <p th:text="${welcomeMessage}">Welcome</p>
    <p><a th:href="@{/login}" th:if="${unauthenticated}">Login</a></p>
    <p><a th:href="@{/register}" th:if="${unauthenticated}">Register</a></p>
    <p><a th:href="@{/setup_game}" th:if="${username}">Start Game</a></p>
    <p><a th:href="@{/logout}" th:if="${username}">Logout</a></p>
    <p>Check out the database:</p>
    <p><a th:href="@{/h2}">H2 Console</a></p>
</div>
</body>
</html>