<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<p>Register</p>
<form action="/register" method="post">
    <p><label for="username">Username:</label><input id="username" name="username" type="text"></p>
    <p><label for="password">Password:</label><input id="password" name="password" type="password"></p>
    <p><label for="color">Paddle Color:</label><input id="color" type="color" name="color"></p>
    <p><input type="submit"></p>
</form>
</body>
</html>