<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Game</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
  <script th:src="@{/js/setup_game.js}" src="../static/js/setup_game.js"></script>
</head>
<body>
<div class="main-container">
  <div class="main-content">
    <h1>Start New Game</h1>
    <p>Enter Settings for new game:</p>
    <form th:action="@{/setup_game}" th:object="${gameSetupDto}" method="post">
      <div>
        <label for="length">Pong space length:</label>
        <input th:field="*{length}" id="length" type="number">
      </div>
      <div>
        <label for="width">Pong space width:</label>
        <input th:field="*{width}" id="width" type="number">
      </div>
      <div>
        <label for="height">Pong space height:</label>
        <input th:field="*{height}" id="height" type="number">
      </div>
      <div>
        <label for="is-time-limited">Time Limited:</label>
        <select th:field="*{isTimeLimited}" id="is-time-limited">
          <option value="true" th:value="true">Yes</option>
          <option value="false" th:value="false">No</option>
        </select>
      </div>
      <div>
        <label for="time-limit-minutes">Time Limit:</label>
        <input th:field="*{timeLimitMinutes}" id="time-limit-minutes" type="number">
      </div>
      <div>
        <label for="opponent-name">Opponent:</label>
      </div>
      <div>
        <select id="opponent-name" th:field="*{opponentId}" th:size="${playersSize}">
          <option disabled selected value="0"> -- select an opponent -- </option>
          <option th:each="player : ${players}" th:text="${player.username}" th:value="${player.id}"></option>
        </select>
      </div>
      <div>
        <input id="submit" type="submit" value="Start New Game">
      </div>
    </form>
  </div>
</div>
</body>
</html>
