<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Waiting for Game to start</title>
    <script th:src="@{/js/monitor_presence.js}" src="../static/js/monitor_presence.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <h1>Waiting for <span th:text="${opponentName}">Opponent</span> to accept the proposed game.</h1>
        <p>Waiting for game to start...</p>
        <p>Game requested at 2pm</p>
      </div>
      <div class="sidebar visibility-hidden">
        <p>Online Users:</p>
        <p class="disconnected">Disconnected</p>
        <p class="disconnected"><a href="#" onclick="reconnect()">(click here to reconnect)</a></p>
        <p class="connected">Connected</p>
        <p class="connection-pending">Connecting...</p>
        <ul class="online-users-list">
        </ul>
        <p class="disconnected" hidden>User List not updating</p>
      </div>
    </div>
  </body>
</html>